$primary: #ffb400;
// $primary: #0c1d29;
$grey: rgb(137, 133, 133);
$secondary: #2b2a2a;
$border: #4b4949;
$light: #ffffff;
$formBack:#252525;
$dark: #111111;
$font-weights: (
  "dark": $dark,
  "light": $light,
);

$main-font: "Oswald", sans-serif;

$p-font: "Open Sans", sans-serif;
